<div class="card-footer clearfix">
    {#<div class="col-sm-12 col-md-5 float-left">
        {% if totalItems < (offset+limit) %}
            <h4>{{ totalItems }} results</h4>
        {% else %}
            <h4>{{ totalItems }} results between {{ offset+1 }}-{{ offset+limit }}</h4>
        {% endif %}
    </div>
    #}
    {% if pageCount > 1 %}
        {% set nearbyPagesLimit = 4 %}
        <ul class="pagination pagination-sm m-0 float-right">
            {% if currentPage != 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ pathUrl({ 'actPage': 1, 'q': query, 'r': request_uri }) }}">First</a>
                </li>
            {% endif %}
            {% for i in 1..pageCount %}
                {% if 0 == (currentPage - nearbyPagesLimit) - loop.index %} {# dot before #}
                    <li class="page-item disabled">
                        <a class="page-link" href="javascript:void(0);">...</a>
                    </li>
                {% elseif 0 == (currentPage + nearbyPagesLimit) - loop.index %} {# dot after #}
                    <li class="page-item disabled">
                        <a class="page-link" href="javascript:void(0);">...</a>
                    </li>
                {% elseif 0 < (currentPage - nearbyPagesLimit) - loop.index %} {# hide all before #}
                {% elseif 0 > (currentPage + nearbyPagesLimit) - loop.index %} {# hide all after #}
                {% else %}
                    <li class="page-item{% if currentPage == loop.index  %} active{% endif %}">
                        <a class="page-link" href="{{ pathUrl({ 'actPage': loop.index, 'q': query, 'r': request_uri }) }}">{{ loop.index }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if currentPage != pageCount %}
                <li class="page-item" >
                    <a class="page-link" href="{{ pathUrl({ 'actPage': pageCount, 'q': query, 'r': request_uri }) }}">Last</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</div>
