<div class="card">
    <div class="card-header">
        {% if button is defined %}
            <h3 class="float-left">{% include "admin/adminParts/makebutton.twig" with button %}</h3>
        {% endif %}
        {% if list is defined %}
            <h3 class="float-left ml-2">{% include "admin/adminParts/makebutton.twig" with list %}</h3>
        {% endif %}
        <div class="row">
            <div class="col-sm-9">
                <form method="GET" class="row">
                    <input type="hidden" name="actPage" value="{{ currentPage }}" />
                    <input type="hidden" name="pageSize" value="{{ limit }}" />
                    {% if searchUserName is defined %}
                        <div class="col-sm-3">
                            <div class="input-group input-group-sm">
                                <input type="text" value="{% if GET.searchUsername is defined  %}{{ GET.searchUsername }}{% endif %}" name="searchUsername" class="form-control float-right" placeholder="Search Username">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if searchTopicName is defined %}
                        <div class="col-sm-3">
                            <div class="input-group input-group-sm">
                                <input type="text" value="{% if GET.searchTopic is defined  %}{{ GET.searchTopic }}{% endif %}" name="searchTopic" class="form-control float-right" placeholder="Search Topic">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="col-sm-3">
                        <div class="input-group input-group-sm">
                            <input type="text" value="{% if GET.search is defined  %}{{ GET.search }}{% endif %}" name="search" class="form-control float-right" placeholder="Search">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>

                    {% if searchStatusModul is defined %}
                        <div class="col-sm-3">
                            <div class="input-group input-group-sm">
                                <select value="empty" name="searchStatus" class="form-control" onchange="this.form.submit()">
                                    <option value="-1" {% if GET.searchStatus is not defined %}selected{% endif %}>Status</option>
                                    {% for key, searchStatusItem in searchStatusModul %}
                                        <option value="{{ key }}" {% if GET.searchStatus is defined and GET.searchStatus == key %} selected  {% endif %}>{{ searchStatusItem }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endif %}
                </form>
            </div>
            <div class="col-sm-3">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="dataTables_length">Result per page</label>
                    </div>
                    <select class="custom-select form-control" onchange="location = this.value;">
                        {% for tableLengthItem in apps.tableLength %}
                            <option value="{{ pathUrl({ 'pageSize': tableLengthItem , 'q': query, 'r': request_uri }) }}" {% if tableLengthItem == limit %}selected="selected"{% endif %}>{{ tableLengthItem }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
